<ion-content>
  <div class="notification">
    <div class="header_sec">
      <div class="header_text">
        <img src="../../assets/images/n_icon.png">
        <div class="text">
          <h3>Notification</h3>
          <p>Important Reminders</p>
        </div>
      </div>
    </div>

    <div class="notification_content">
      <div class="card">
        <div class="left-part float-left">
          <div class="left-image">
            <img src="../../assets/images/profile1.png">
          </div>
          <div class="text-content">
            <div class="main-text">
              <p>Andreea Gilbert</p>
              <small>Trip Taken For Bali</small>
            </div>
          </div>
        </div>
        <div class="right-sec float-right">
          <button type="submit">View Details</button>
        </div>
      </div>
      <div class="card">
        <div class="left-part float-left">
          <div class="left-image">
            <img src="../../assets/images/profile2.png">
          </div>
          <div class="text-content">
            <div class="main-text">
              <p>Mary Lawson</p>
              <small>Trip Taken For Bali</small>
            </div>
          </div>
        </div>
        <div class="right-sec float-right">
          <button type="submit">View Details</button>
        </div>
      </div>

      <div class="card">
        <div class="left-part float-left">
          <div class="left-image">
            <img src="../../assets/images/profile3.png">
          </div>
          <div class="text-content">
            <div class="main-text">
              <p>Danielle Mendoza</p>
              <small>Trip Taken For Bali</small>
            </div>
          </div>
        </div>
        <div class="right-sec float-right">
          <button type="submit">View Details</button>
        </div>
      </div>

      <div class="card">
        <div class="left-part float-left">
          <div class="left-image">
            <img src="../../assets/images/profile4.png">
          </div>
          <div class="text-content">
            <div class="main-text">
              <p>Sandra Holmes</p>
              <small>Trip Taken For Bali</small>
            </div>
          </div>
        </div>
        <div class="right-sec float-right">
          <button type="submit">View Details</button>
        </div>
      </div>

      <div class="card">
        <div class="left-part float-left">
          <div class="left-image">
            <img src="../../assets/images/profile1.png">
          </div>
          <div class="text-content">
            <div class="main-text">
              <p>Carolyn Meyer</p>
              <small>Trip Taken For Bali</small>
            </div>
          </div>
        </div>
        <div class="right-sec float-right">
          <button type="submit">View Details</button>
        </div>
      </div>

      <div class="card">
        <div class="left-part float-left">
          <div class="left-image">
            <img src="../../assets/images/profile2.png">
          </div>
          <div class="text-content">
            <div class="main-text">
              <p>Carolyn Meyer</p>
              <small>Trip Taken For Bali</small>
            </div>
          </div>
        </div>
        <div class="right-sec float-right">
          <button type="submit">View Details</button>
        </div>
      </div>

    </div>
  </div>
</ion-content>