<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-buttons slot="start">
            <ion-back-button>
              <i class="fa fa-angle-left back_icon_white"></i>
            </ion-back-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>New Trip</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="services_detail">
      <p class="ml-3 visa_text">Air Tickets</p>
      <div class="general_details">
        <div class="general_details_header">
          <p>Passengers</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Infants</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Children</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adults</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senior Citizens</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Journey Type</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="Journey1" name="Journey" value="Journey1" checked>
                <label for="Journey1">Round Trip</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Journey2" value="Journey2" name="Journey">
                <label for="Journey2">One Way</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Flight Tire Prefernece</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="Tire1" value="Tire1" name="Tire" checked>
                <label for="Tire1">Economy</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Tire2" value="Tire2" name="Tire">
                <label for="Tire2">Business Class</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Tire3" value="Tire3" name="Tire">
                <label for="Tire3">First Class</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Flight Seat Preference</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="Flight1" value="Flight1" name="Flight" checked>
                <label for="Flight1">Aisle</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Flight2" value="Flight2" name="Flight">
                <label for="Flight2">Middle</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Flight3" value="Flight3" name="Flight">
                <label for="Flight3">Window</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Flight4" value="Flight4" name="Flight">
                <label for="Flight4">Emergency Exit Row</label>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Other</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>In-Flight Meal</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Meal</ion-label>
            <ion-select cancelText="Dismiss">
              <ion-select-option value="brown">Kosher Meal</ion-select-option>
              <ion-select-option value="blonde">Vegetarian Jain Meal</ion-select-option>
              <ion-select-option value="blonde">Diabetic Meal</ion-select-option>
              <ion-select-option value="blonde">Low Salt Meal </ion-select-option>
              <ion-select-option value="blonde">Low Fat Meal</ion-select-option>
              <ion-select-option value="blonde">Low Calorie Meal</ion-select-option>
              <ion-select-option value="blonde">Bland Meal</ion-select-option>
              <ion-select-option value="blonde">Gluten Free Meal</ion-select-option>
              <ion-select-option value="blonde">Fruit Platter Meal</ion-select-option>
              <ion-select-option value="blonde">Seafood meal</ion-select-option>
              <ion-select-option value="blonde">Low Lactose meal</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Seat Belt Extender</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="seatbelt1" name="Extender" checked>
                <label for="seatbelt1">Yes</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="seatbelt2" name="Extender">
                <label for="seatbelt2">No</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Wheel Chair Assistance</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="Wheelchair1" name="Assistance" checked>
                <label for="Wheelchair1">Yes</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Wheelchair2" name="Assistance">
                <label for="Wheelchair2">No</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Number of Quotes</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Other</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <h1 class="text-center error_msg">Only visible if Air Tickets Standalone Inquiry</h1>
        </div>
      </div>

    </div>
    <div class="next_btn" *ngIf="formUrl.length">
      <button type="submit" (click)="nextForm()">Next<i class="fas fa-arrow-right"></i></button>
    </div>
    <!-- <div class="next_btn"  *ngIf="!formUrl.length">
      <button type="submit" >Submit</button>
    </div> -->
  </div>
</ion-content>