<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
            <ion-buttons slot="start">
                <ion-back-button>
                  <i class="fa fa-angle-left back_icon_white"></i>  
                </ion-back-button>
            </ion-buttons>
                  </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>New Trip</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="services_detail">
      <p class="ml-3 visa_text">Air Tickets</p>
      <div class="general_details">
        <div class="general_details_header">
          <p>Passengers</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Infants</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Children</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adults</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senior Citizens</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Journey Type</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-5">
                <input type="radio" class="mr-2" id="round" name="radio-group" checked>
                <label for="round">Round Trip</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="way" name="radio-group">
                <label for="way">One Way</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Flight Tire Prefernece</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-5">
                <input type="radio" class="mr-2" id="economy" name="radio-group" checked>
                <label for="economy">Economy</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="class" name="radio-group">
                <label for="class">Business Class</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="first" name="radio-group">
                <label for="first">First Class</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Flight Seat Preference</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-5">
                <input type="radio" class="mr-2" id="ais" name="radio-group" checked>
                <label for="ais">Aisle</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="mid" name="radio-group">
                <label for="mid">Middle</label>
              </div>
              <div class="col-5">
                <input type="radio" class="mr-2" id="window" name="radio-group">
                <label for="window">Window</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="Exit" name="radio-group">
                <label for="Exit">Emergency Exit Row</label>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Other</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>In-Flight Meal</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Meal</ion-label>
            <ion-select cancelText="Dismiss">
              <ion-select-option value="brown">Kosher Meal</ion-select-option>
              <ion-select-option value="blonde">Vegetarian Jain Meal</ion-select-option>
              <ion-select-option value="blonde">Diabetic Meal</ion-select-option>
              <ion-select-option value="blonde">Low Salt Meal </ion-select-option>
              <ion-select-option value="blonde">Low Fat Meal</ion-select-option>
              <ion-select-option value="blonde">Low Calorie Meal</ion-select-option>
              <ion-select-option value="blonde">Bland Meal</ion-select-option>
              <ion-select-option value="blonde">Gluten Free Meal</ion-select-option>
              <ion-select-option value="blonde">Fruit Platter Meal</ion-select-option>
              <ion-select-option value="blonde">Seafood meal</ion-select-option>
              <ion-select-option value="blonde">Low Lactose meal</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Seat Belt Extender</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-5">
                <input type="radio" class="mr-2" id="test1" name="radio-group" checked>
                <label for="test1">Yes</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="test2" name="radio-group">
                <label for="test2">No</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Wheel Chair Assistance</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-5">
                <input type="radio" class="mr-2" id="yes1" name="radio-group" checked>
                <label for="yes1">Yes</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="no1" name="radio-group">
                <label for="no1">No</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Number of Quotes</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Other</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <h1 class="text-center error_msg">Only visible if Air Tickets Standalone Inquiry</h1>
        </div>
      </div>

    </div>
    <div class="next_btn">
      <button type="submit">Next<i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</ion-content>