<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
            <ion-buttons slot="start">
                <ion-back-button>
                  <i class="fa fa-angle-left back_icon_white"></i>
                </ion-back-button>
            </ion-buttons>
                 </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>New Trip</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="services_detail">
      <p class="ml-3 visa_text">Other Details</p>

      <div class="general_details">
        <div class="general_details_header">
          <p>Communication Preference </p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-12">
                <input type="radio" class="mr-2" id="test3" name="radio-group" checked>
                <label for="test3">Whatsapp</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="test4" name="radio-group">
                <label for="test4">Phone</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="test5" name="radio-group">
                <label for="test5">Mail</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="test6" name="radio-group">
                <label for="test6">Visit Us</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="test7" name="radio-group">
                <label for="test7">Message</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Budget</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Budget Preference</ion-label>
            <ion-select cancelText="Dismiss">
              <ion-select-option value="Budget1">Budget 1</ion-select-option>
              <ion-select-option value="Budget2">Budget 2</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Budget Amount</ion-label>
            <ion-select cancelText="Dismiss">
              <ion-select-option value="Amount1">Amount 1</ion-select-option>
              <ion-select-option value="Amount2">Amount 2</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Mode of Payment</p>
        </div>
        <div class="general_details_body">
          <div class="select_plan_check">
            <ion-checkbox checked="false"> </ion-checkbox>
            <ion-label class="ml-3">Cash</ion-label>
          </div>
          <div class="select_plan_check">
            <ion-checkbox checked="false"> </ion-checkbox>
            <ion-label class="ml-3">Cheque</ion-label>
          </div>
          <div class="select_plan_check">
            <ion-checkbox checked="false"> </ion-checkbox>
            <ion-label class="ml-3">Bank Transfer</ion-label>
          </div>
          <div class="select_plan_check">
            <ion-checkbox checked="false"> </ion-checkbox>
            <ion-label class="ml-3">NEFT/RTGS</ion-label>
          </div>
          <div class="select_plan_check">
            <ion-checkbox checked="false"> </ion-checkbox>
            <ion-label class="ml-3">Gpay/Paytm</ion-label>
          </div>
          <div class="select_plan_check">
            <ion-checkbox checked="false"> </ion-checkbox>
            <ion-label class="ml-3">Credit/Debit Card</ion-label>
          </div>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Mode of Payment</p>
        </div>
        <div class="general_details_body">
          <p>Plans</p>
          <ion-item>
            <ion-label position="floating">2</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <div class="total_cost w-100 d-inline-block">
            <p class="float-left">Cost</p>
            <p class="float-right">₹ 3000</p>
          </div>
        </div>
      </div>

    </div>

    <div class="next_btn">
      <button type="submit" routerLink='/home/payment'>Next<i class="fas fa-arrow-right"></i></button>
    </div>

  </div>
</ion-content>