<ion-content>
  <div class="trip_content">
    <div class="header_sec">
      <div class="w-100 d-inline-block mt-3 menu-icon">
        <ion-menu-button class="float-right"></ion-menu-button>
      </div>
      <div class="header_text">
        <h3>The Trip Planing</h3>
        <p>Trip Details
        </p>
      </div>
    </div>
    <div class="all_trip_content">
    <div class="trip_plan_top">
      <div class="trip_plan">
        <ion-card>
          <ion-card-content>
            <div class="card_header w-100 d-inline-block ">
              <h3 class="float-left">Trip To Amsterdam</h3>
              <p class="float-right"><i class="far fa-calendar-minus"></i>1 Jan 2020</p>
            </div>
            <div class="card_body">
              <p class="mt-1">Amsterdam is the Netherlands’ capital, known for its artistic heritage, elaborate canal
                system and
                narrow
                houses with gabled facades, legacies of the city’s 17th-century Golden Age.</p>
            </div>
            <div class="trip_drescription mt-3">
              <div class="trip_drescription_header">
                <i class="far fa-clock"></i>
                <div class="top_sec">
                <h5>Trip Starts From </h5>
                <small>10:00 AM</small>
              </div>
              </div>
              <h6>Van Gogh Museum</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna </p>
              <div class="trip_drescription_image">
                <div class="row">
                  <div class="col-6">
                    <div class="trip_img">
                    <img src="../../assets/images/Image 13.png">
                  </div>
                  </div>
                  <div class="col-6">
                    <div class="trip_img">
                    <img src="../../assets/images/Image 14.png">
                  </div>
                  </div>
                </div>
              </div>
              <div class="view_more">
              <a href="#" class="">View More</a>
              </div>
            </div>
            <div class="trip_drescription mt-3">
              <div class="trip_drescription_header">
                <i class="far fa-clock"></i>
                <div class="top_sec">
                <h5>Trip Starts From </h5>
                <small>10:00 AM</small>
              </div>
              </div>
              <h6>Van Gogh Museum</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna </p>
              <div class="trip_drescription_image">
                <div class="row">
                  <div class="col-6">
                    <div class="trip_img">
                    <img src="../../assets/images/Image 15.png">
                  </div>
                  </div>
                  <div class="col-6">
                    <div class="trip_img">
                    <img src="../../assets/images/image17.png">
                  </div>
                  </div>
                </div>
              </div>
              <div class="view_more">
                <a href="#" class="">View More</a>
                </div>
            </div>

          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="trip_status">
      <div class="day_one">
        <p>Day 1</p>
      </div>
      </div>
    </div>
  </div>
</ion-content>