<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
            <ion-buttons slot="start">
                <ion-back-button>
                  <i class="fa fa-angle-left back_icon_white"></i>
                </ion-back-button>
            </ion-buttons>
                </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>New Trip</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="services_detail">
      <p class="ml-3 visa_text">Accomodation</p>
      <div class="general_details">
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Accomodation Type</ion-label>
            <ion-select cancelText="Dismiss">
              <ion-select-option value="one">Hostels</ion-select-option>
              <ion-select-option value="two">Guesthouses</ion-select-option>
              <ion-select-option value="one">Apartments</ion-select-option>
              <ion-select-option value="one">Resorts</ion-select-option>
              <ion-select-option value="one">Ski Chalets</ion-select-option>
             </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Room Category Preference</ion-label>
            <ion-select cancelText="Dismiss">
              <ion-select-option value="brown">Queen Room</ion-select-option>
              <ion-select-option value="blonde">Single Room</ion-select-option>
              <ion-select-option value="brown">Double Room</ion-select-option>
              <ion-select-option value="brown">Quad Room</ion-select-option>
              <ion-select-option value="brown">King Room</ion-select-option>
              <ion-select-option value="brown">Twin Room</ion-select-option>
              <ion-select-option value="brown">Triple Room</ion-select-option>
              <ion-select-option value="brown">Studio Room</ion-select-option>
            </ion-select>
          </ion-item>
          <form action="#">
            <div class="row">
              <p class="w-100 pl-3">Smoking Room</p>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Smoking1" name="Smoking" checked>
                <label for="Smoking1">Yes</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Smoking2" name="Smoking">
                <label for="Smoking2">No</label>
              </div>
              <p class="w-100 pl-3">Wheelchair Accessible</p>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Accessible1" name="Accessible" checked>
                <label for="Accessible1">Yes</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Accessible2" name="Accessible">
                <label for="Accessible2">No</label>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Any Special Requirement?</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Meal Plans</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-12">
                <input type="radio" class="mr-2" id="Plans1" name="Meal" checked>
                <label for="Plans1">CP ( Continental Plan ) - Only Breakfast</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Plans2" name="Meal">
                <label for="Plans2">AP ( American Plan ) - All Meals</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Plans3" name="Meal">
                <label for="Plans3">MAP - Breakfast & 1 Major Meal</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Culinary Preferrence</p>
        </div>
        <div class="general_details_body">
          <form action="#">
            <div class="row">
              <div class="col-12">
                <input type="radio" class="mr-2" id="Culinary1" name="Preferrence" checked>
                <label for="Culinary1">Vegetarian</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Culinary2" name="Preferrence">
                <label for="Culinary2">Vegan</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Culinary3" name="Preferrence">
                <label for="Culinary3">Gluten & Lactose Free</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Culinary4" name="Preferrence">
                <label for="Culinary4">Non Veg</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Culinary5" name="Preferrence">
                <label for="Culinary5">Jain ( Only where available )</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Culinary6" name="Preferrence">
                <label for="Culinary6">Other</label>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Any Special Requirement?</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header w-100 d-inline-block">
          <p class="float-left">Room - 1</p>
          <i class="fas fa-minus-circle float-right"></i>
        </div>
        <div class="general_details_body pt-0">
          <ion-item>
            <ion-label position="floating">Infants</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Children</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adults</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header w-100 d-inline-block">
          <p class="float-left">Room - 2</p>
          <i class="fas fa-minus-circle float-right"></i>
        </div>
        <div class="general_details_body pt-0">
          <ion-item>
            <ion-label position="floating">Infants</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Children</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adults</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="add_room_btn text-center">
        <button type="submit"><i class="fas fa-plus-circle"></i>Add Room</button>
      </div>
    </div>
    <div class="next_btn" *ngIf="formUrl.length">
      <button type="submit" (click)="nextForm()">Next<i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="submit_btn"  *ngIf="!formUrl.length">
      <button type="submit" routerLink="/home/home-page"><i class="fas fa-save"></i>Submit</button>
    </div>
  </div>
</ion-content>