<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
          <!-- <ion-img src="../../assets/images/back_icon.png"></ion-img> -->
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-white w-100">
          <div class="text-center">
            <i class="fas fa-passport"></i>
            <span>Amendments</span>
          </div>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="send_msg d-flex justify-content-end mb-4">
      <div class="user_msg">
        <p>Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor.</p>
        <small>Tuesday, 9:40 am</small>
      </div>
      <div class="user_profile">
        <ion-img src="../../assets/images/avatar1.png"></ion-img>
      </div>
    </div>

    <div class="receive_msg d-flex justify-content-start mb-4">
      <div class="user_profile">
        <ion-img src="../../assets/images/avatar.png"></ion-img>
      </div>
      <div class="user_msg">
        <p>Excepteur sint occaecat cupidatat non proident.</p>
        <small>Tuesday, 8:10 am</small>
      </div>
    </div>

    <div class="send_msg  d-flex justify-content-end mb-4">
      <div class="user_msg">
        <p>Sed do eiusmod tempor.</p>
        <small>Tuesday, 9:40 am</small>
      </div>
      <div class="user_profile">
        <ion-img src="../../assets/images/avatar1.png"></ion-img>
      </div>
    </div>

    <div class="send_msg  d-flex justify-content-end mb-4">
      <div class="user_msg">
        <ion-img src="../../assets/images/chat.png"></ion-img>
        <small>Tuesday, 9:40 am</small>
      </div>
      <div class="user_profile">
        <ion-img src="../../assets/images/avatar1.png"></ion-img>
      </div>
    </div>

    <div class="receive_msg  d-flex justify-content-start mb-4">
      <div class="user_profile">
        <ion-img src="../../assets/images/avatar.png"></ion-img>
      </div>
      <div class="user_msg">
        <p>We are in London</p>
        <small>Tuesday, 8:10 am</small>
      </div>
    </div>

    <div class="receive_msg  d-flex justify-content-start mb-4">
      <div class="user_profile">
        <ion-img src="../../assets/images/avatar.png"></ion-img>
      </div>
      <div class="user_msg">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14766.408697260988!2d70.76527527714904!3d22.293054814083863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1574748558683!5m2!1sen!2sin"
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <small>Tuesday, 8:20 am</small>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer_sec">
      <div class="input-group">
        <div class="input-group-prepend" id="open_attachment">
          <span class="input-group-text"><i class="fas fa-angle-down"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Say something">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>
        </div>
      </div>
      <div class="attechments" style="display: none;">
        <div class="row">
          <div class="col-3 px-2">
            <div class="attach_img">
              <i class="fas fa-camera"></i>
              <p>PHOTO</p>
            </div>
          </div>
          <div class="col-3 px-2">
            <div class="attach_img">
                <input type="file" class="form-control" id="file_vedio" name="files"
                value="files" style="display: none;" accept="video/mp4,video/x-m4v,video/*">
              <label for="file_vedio"><i class="fas fa-video"></i></label>
              <p>VIDEO</p>
            </div>
          </div>
          <div class="col-3 px-2">
            <div class="attach_img">
              <i class="fas fa-map-marker-alt"></i>
              <p>LOCATION</p>
            </div>
          </div>
          <div class="col-3 px-2">
            <div class="attach_img">
              <input type="file" class="form-control" id="file" name="files"
                value="files" style="display: none;">
              <label for="file"><i class="fas fa-link"></i></label>
              <p>FILE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>