$purple: #0575E6;
$blue  : #021B79;
$green : #2FE57C;


// ion header css start here
button.button-native.sc-ion-back-button-ios {
    display: none;
}
.back_icon_purple{
    color: #804EE8;
    font-size: 28px;
    line-height: 55px;
}
ion-header ion-toolbar:first-child {
    --background   : #fff !important;
    height         : 80px;
    justify-content: center;
    align-items    : center;
    display        : flex;
}

.header-md:after {
    background-image: unset;
}

ion-menu-button {
    --color: #AA55FF !important;
}

.home_text {
    color      : #AA55FF!important;
    font-size  : 23px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif !important;
    @media(max-height: 812px){
        font-size   : 22px;
    }
    @media(max-height: 750px){
        font-size   : 20px;
    }
    @media(max-height: 600px){
        font-size   : 18px;
    }
}

// ion header css end here

// content css start here
ion-content {
    --background:#fff!important;

    &:after {
        content              : "";
        background-image     : url('../../assets/images/illustration.png');
        background-repeat    : no-repeat;
        background-position  : center bottom;
        background-size      : contain;
        background-attachment: fixed;
        padding-right        : 100%;
        padding-bottom       : calc(100vh - 76px);
        z-index              : 1;
        position             : absolute;
    }
}

.benefits_content {
    padding : 0px 10px 40px 10px;
    z-index : 11;
    position: relative;
}

.card {
    box-shadow: 0px 2px 4px #F2EEEE;
    border: none;
    .card_header {
        border-bottom: 1px solid #C7CBD6;
        padding      : 12px 15px;
        @media(max-height: 750px){
            padding      : 10px 12px;
        }
        @media(max-height: 600px){
            padding      : 7px 10px;
        }

        ion-img {
            height      : 25px;
            width       : 25px;
            float       : left;
            margin-right: 15px;
        }

        p {
            color      : #434A5E;
            font-weight: 600;
            line-height: 26px;
            @media(max-height: 750px){
              font-size: 15px;
            }
            @media(max-height: 600px){
                font-size: 14px;
            }
        }
    }

    .card_body {
        padding: 15px;
        @media(max-height: 750px){
           padding: 12px 15px;
          }
          @media(max-height: 600px){
             padding: 9px 15px;
          }

        p {
            color      : #707070;
            font-weight: 600;
            line-height: 1.8;
            text-align : center;
            margin-top : 15px;
            font-size  : 15px;
            @media(max-height: 750px){
                font-size: 14px;
                margin-top : 12px;
                line-height: 1.7;
              }
              @media(max-height: 600px){
                  font-size: 13px;
              }
        }

        h3 {
            color    : #434A5E;
            font-size: 20px;
            @media(max-height: 750px){
                font-size: 18px;
                             }
              @media(max-height: 600px){
                  font-size: 16px;
              }
        }
    }

    .card_footer {
        padding: 0px 22px 22px 22px;
        button {
            border-radius: 30px;
            line-height: 46px;
            color: #ffffff;
            font-size: 15px;
            position: relative;
            width: 100%;
            font-weight: 500;
            outline: none;
            background: -webkit-gradient(linear, left top, right top, from(#0575E6), to(#021B79));
            background: linear-gradient(to right, #0575E6, #021B79);
            box-shadow: 2px 1px 3px rgba(129, 59, 219, 0.5);
    
            i {
                margin-right: 15px;
                font-size   : 25px;
            }
        }
    }
}

