$purple: #0575E6;
$blue  : #021B79;
$green : #2FE57C;


// ion header css start here
button.button-native.sc-ion-back-button-ios {
    display: none;
}
.back_icon_purple{
    color: #804EE8;
    font-size: 28px;
}
ion-header ion-toolbar:first-child {
    --background   : #fff !important;
    height         : 80px;
    justify-content: center;
    align-items    : center;
    display        : flex;
}

.header-md:after {
    background-image: unset;
}

ion-menu-button {
    --color: #AA55FF !important;
}

.home_text {
    color      : #AA55FF!important;
    font-weight: 600;
    margin-left: 5px;
    font-size  : 22px;
    line-height: 24px
}

// ion header css end here

// content css start here
ion-content {
    --background:#fff!important;

    &:after {
        content              : "";
        background-image     : url('../../assets/images/illustration.png');
        background-repeat    : no-repeat;
        background-position  : center bottom;
        background-size      : contain;
        background-attachment: fixed;
        padding-right        : 100%;
        padding-bottom       : calc(100vh - 76px);
        z-index              : 1;
        position             : absolute;
    }
}

.benefits_content {
    padding : 0px 10px 40px 10px;
    z-index : 11;
    position: relative;
}

.card {
    box-shadow: 2px 10px 4px #F2EEEE;
    border: none;
    .card_header {
        border-bottom: 1px solid #C7CBD6;
        padding      : 12px 15px;

        ion-img {
            height      : 25px;
            width       : 25px;
            float       : left;
            margin-right: 15px;
        }

        p {
            color      : #434A5E;
            font-weight: 600;
            line-height: 26px;
        }
    }

    .card_body {
        padding: 15px;

        p {
            color      : #707070;
            font-weight: 600;
            line-height: 1.8;
            text-align : center;
            margin-top : 15px;
            font-size  : 15px;
        }

        h3 {
            color    : #434A5E;
            font-size: 20px;
        }
    }

    .card_footer {
        padding: 0px 15px 22px 15px;

        button {
            border-radius: 30px;
            padding      : 15px;
            color        : #ffffff;
            font-size    : 16px;
            position     : relative;
            width        : 100%;
            font-weight  : 500;
            outline      : none;
            background   : linear-gradient(to right, $purple, $blue);

            ion-img {
                position: absolute;
                height  : 24px;
                width   : 24px;
                bottom  : 10px;
                left    : 6%;
            }
        }
    }
}