<ion-content>
  <div class="trip_content">
    <div class="header_sec">
      <div class="w-100 d-inline-block mt-3 menu-icon">
        <ion-menu-button class="float-right"></ion-menu-button>
      </div>
      <div class="header_text">
        <h3>The Trip Planing</h3>
        <p>Daywise Summary</p>
      </div>
    </div>
    <div id="content">
      <ul class="timeline">
        <li class="event" data-date="Day 1">
          <div class="custom_card">
            <div class="card_header w-100 d-inline-block ">
              <h3 class="float-left">Trip To Amsterdam</h3>
              <p class="float-right"><img src="../../assets/images/ca.png">1 Jan 2020</p>
            </div>
            <div class="card_body">
              <p class="mt-1">Amsterdam is the Netherlands’ capital, known for its artistic heritage, elaborate canal
                system and
                narrow
                houses with gabled facades, legacies of the city’s 17th-century Golden Age.</p>
            </div>
          </div>
        </li>
        <li class="event" data-date="Day 2">
          <div class="custom_card">
            <div class="card_header w-100 d-inline-block ">
              <h3 class="float-left">Trip To Zaanse Schans</h3>
              <p class="float-right"><img src="../../assets/images/ca.png">1 Jan 2020</p>
            </div>
            <div class="card_body">
              <p class="mt-1">Zaanse Schans is a neighborhood in the Dutch town of Zaandam, near Amsterdam. Historic
                windmills and distinctive green wooden houses were relocated here to recreate the look of an
                18th/19th-century village.</p>
            </div>
          </div>
        </li>
        <li class="event" data-date="Day 3">
          <div class="custom_card">
            <div class="card_header w-100 d-inline-block ">
              <h3 class="float-left">Monnickendam</h3>
              <p class="float-right"><img src="../../assets/images/ca.png">1 Jan 2020</p>
            </div>
            <div class="card_body">
              <p class="mt-1">Zaanse Schans is a neighborhood in the Dutch town of Zaandam, near Amsterdam. Historic
                windmills and distinctive green wooden houses were relocated here to recreate the look of an
                18th/19th-century village.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
 
  </div>
</ion-content>