<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <!-- <ion-img src="../../assets/images/back_icon.png"></ion-img> -->
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>New Trip</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <!-- all services detail form start here  -->
    <div class="all_service_details">
      <div class="services_detail">
        <p class="ml-2">Services</p>
        <div class="select_plan"  routerLink='/home/visa'>
          <ion-checkbox checked="false" id="visa"> </ion-checkbox>
          <ion-label class="ml-3">Visa</ion-label>
        </div>
        <div class="select_plan" routerLink='/home/air-tickets'>
          <ion-checkbox checked="false" id="air-ticket"> </ion-checkbox>
          <ion-label class="ml-3">Air Tickets</ion-label>
        </div>
        <div class="select_plan" routerLink='/home/other-detail'>
          <ion-checkbox checked="false" id="passport"> </ion-checkbox>
          <ion-label class="ml-3">Passport</ion-label>
        </div>
      </div>
      <div class="service_info">
        <span><i class="fas fa-info"></i></span>
        <div class="service_info_detail">
          <p class="text-center">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis
            nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea
            commodo consequat.</p>
        </div>
      </div>
      <div class="services_detail">
        <p class="ml-2">Personalize (Minimum : 3)</p>
        <div class="select_plan_accomndation">
          <div class="select_plan" routerLink='/home/accomodation'>
            <ion-checkbox checked="false" id="accomodation"> </ion-checkbox>
            <ion-label class="ml-3">Accomodation</ion-label>
          </div>
          <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis
            nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea
            commodo consequat.</p>
        </div>
        <div class="select_plan" routerLink='/home/tours'>
          <ion-checkbox checked="false" id="tours"> </ion-checkbox>
          <ion-label class="ml-3">Tours</ion-label>
        </div>
        <div class="select_plan" routerLink='/home/transfers'>
          <ion-checkbox checked="false" id="tranfer"> </ion-checkbox>
          <ion-label class="ml-3">Transfers</ion-label>
        </div>
        <div class="select_plan">
          <ion-checkbox checked="false" id="consulting"> </ion-checkbox>
          <ion-label class="ml-3">Consulting</ion-label>
        </div>
        <div class="select_plan">
          <ion-checkbox checked="false" id="air-ticket-1"> </ion-checkbox>
          <ion-label class="ml-3">Air Tickets</ion-label>
        </div>
        <div class="select_plan">
          <ion-checkbox checked="false" id="insurance"> </ion-checkbox>
          <ion-label class="ml-3">Insurance </ion-label>
        </div>
        <div class="select_plan">
          <ion-checkbox checked="false" id="group-travel"> </ion-checkbox>
          <ion-label class="ml-3">Group Travel</ion-label>
        </div>
        <div class="select_plan">
          <ion-checkbox checked="false" id="personal-tour-travel"> </ion-checkbox>
          <ion-label class="ml-3">Personal Tour Guide</ion-label>
        </div>
      </div>
      <div class="service_info">
        <span><i class="fas fa-info"></i></span>
        <div class="service_info_detail">
          <p class="text-center">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis
            nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea
            commodo consequat.</p>
        </div>
      </div>

      <div class="next_btn">
        <button type="submit">Next<i class="fas fa-arrow-right"></i></button>
      </div>

    </div>
  </div>
</ion-content>