$purple: #AA55FF;
$blue: #584BDD;

// content css start here 
ion-content {
    --background: linear-gradient(#AA55FF, #584BDD);
    &:after {
        content: "";
        background-image: url('../../assets/images/illustration.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        background-attachment: fixed;
        padding-right: 100%;
        padding-bottom: calc(100vh - 76px);
        z-index: 1;
        position: absolute;
    }
}

.plan_option_content {
    padding: 0px 10px;
    position: relative;
    z-index: 11;
    .card {
        border: none;
    }
    .plan_option_heading {
        padding: 15px 20px;
        display: inline-block;
        cursor: pointer;
        border-radius: 7px;
        background-color: #ffffff;
        span {
            font-size: 18px;
            color: #111111;
            font-weight: 600;
        }
        .calendar_img {
            ion-img {
                height: 25px;
                width: 25px;
            }
        }
    }
    .document_request {
        display: inline-block;
        border-radius: 7px;
        background-color: #ffffff;
        .card_header {
            border-bottom: 1px solid #C7CBD6;
            width: 100%;
            padding: 12px;
            ion-img {
                height: 28px;
                width: 22px;
                float: left;
            }
            span {
                font-size: 18px;
                color: #434A5E;
                margin-left: 10px;
                font-weight: 500;
            }
        }
        .card_body {
            padding: 20px 0px;
            .total {
                color: #434A5E;
                font-size: 5vw;
                margin-top: 20px;
                padding-left: 35px;
                font-weight: 600;
                background-color: rgba(88, 75, 221, 0.1);
            }
            small {
                color: #ADB3C4;
                font-size: 12px;
                padding: 0px 18px;
                           }
            ul {
                margin-top: 15px;
                width: 80%;
                padding: 0px 18px;
            }
            li {
                list-style: none;
                color: #434A5E;
                font-size: 12px;
                line-height: 1.8;
                margin-left: 20px;
                position: relative;
                &:after {
                    content: "";
                    width: 1px;
                    height: 80%;
                    background: #707070;
                    position: absolute;
                    left: -18px;
                    top: 13px;
                }
                &:before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    border: 1px solid #707070;
                    position: absolute;
                    left: -20px;
                    top: 8px;
                }
            }
             :last-child {
                &:after {
                    width: 0px !important;
                }
            }
        }
        .card_footer {
            padding: 0px 25px 18px 25px;
            button {
                border-radius: 30px;
                padding: 15px;
                color: #ffffff;
                font-size: 15px;
                position: relative;
                width: 100%;
                font-weight: 500;
                outline: none;
                background: linear-gradient(to right, $blue, $purple);
                ion-img {
                    position: absolute;
                    height: 24px;
                    width: 24px;
                    bottom: 10px;
                    left: 6%;
                }
            }
        }
    }
}