<ion-content>
  <div class="trip_content">
    <div class="header_sec">
      <div class="w-100 d-inline-block mt-3 menu-icon">
        <ion-menu-button class="float-right"></ion-menu-button>
      </div>
      <div class="header_text">
        <img src="../../assets/images/travel.png">
        <div class="text">
          <h3>Past Trips </h3>
          <p>Details Of Trips Taken </p>
        </div>
      </div>
    </div>
    <div class="past_trip_content">
      <div class="card">
        <div class="row">
          <div class="col-9">
            <div class="left-image">
              <img src="../../assets/images/past1.png">
            </div>
            <div class="text-content">
              <img src="../../assets/images/t_icon.png">
              <div class="main-text">
                <small>Trip Taken For</small>
                <p>Malesiya To Bali</p>
              </div>
            </div>
          </div>
          <div class="col-3 pl-0">
            <div class="right-sec">
              <i class="far fa-calendar"></i>
              <div  class="date-title">
              <small>Date</small>
              <p>04 May</p>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-9">
            <div class="left-image">
              <img src="../../assets/images/past2.png">
            </div>
            <div class="text-content">
              <img src="../../assets/images/t_icon.png">
              <div class="main-text">
                <small>Trip Taken For</small>
                <p>Malesiya To China</p>
              </div>
            </div>
          </div>
          <div class="col-3 p-0">
            <div class="right-sec">
              <i class="far fa-calendar"></i>
              <div  class="date-title">
              <small>Date</small>
              <p>07 July</p>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-9">
            <div class="left-image">
              <img src="../../assets/images/past3.png">
            </div>
            <div class="text-content">
              <img src="../../assets/images/t_icon.png">
              <div class="main-text">
                <small>Trip Taken For</small>
                <p>Malesiya To Thiland</p>
              </div>
            </div>
          </div>
          <div class="col-3 pl-0">
            <div class="right-sec">
              <i class="far fa-calendar"></i>
              <div  class="date-title">
              <small>Date</small>
              <p>31 March</p>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-9">
            <div class="left-image">
              <img src="../../assets/images/past4.png">
            </div>
            <div class="text-content">
              <img src="../../assets/images/t_icon.png">
              <div class="main-text">
                <small>Trip Taken For</small>
                <p>Malesiya To Hk</p>
              </div>
            </div>
          </div>
          <div class="col-3 pl-0">
            <div class="right-sec">
              <i class="far fa-calendar"></i>
              <div  class="date-title">
              <small>Date</small>
              <p>12 May</p>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-9">
            <div class="left-image">
              <img src="../../assets/images/past5.png">
            </div>
            <div class="text-content">
              <img src="../../assets/images/t_icon.png">
              <div class="main-text">
                <small>Trip Taken For</small>
                <p>Malesiya To China</p>
              </div>
            </div>
          </div>
          <div class="col-3 pl-0">
            <div class="right-sec">
              <i class="far fa-calendar"></i>
              <div  class="date-title">
              <small>Date</small>
              <p>24 April</p>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>