<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-img src="../../assets/images/back_icon.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>USA</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
            <ion-menu-button></ion-menu-button>
        </div>
            </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="plan_option_content">
    <div class="card plan_option_heading  w-100 " routerLink='/home/all-plan'>
      <h6>Plan Option 1</h6>
      <h3 class="text-center">USA tour for 24 Nights</h3>
      <p class="text-center">The first thing to consider for your travel to USA from India is the US visa application process. Unlike other
        countries, the US visa system is comparatively a little more complicated. For starters, one of the few countries
        where you will have to go in person for the interview process.
        In my case, I have a business/ personal visa (B1/B2) which is valid for 10 years. I had taken this visa in 2013
        but was not able to make it then. So what is the process of obtaining a visa for your US trip?

        <!-- Schedule an appointment using this link: While filling the details in the online application form, you are
        required to enter the consulate where you will appear for the interview. Once the links are enabled, schedule an
        appointment. You are required to schedule two appointments, one for document verification/ biometric systems
        while another one is required for the actual interview process. You are required to complete the first one
        before you can schedule the interview appointment. It is preferable to choose both during the morning sessions -->
        since the wait time is considerably reduced. We chose Chennai since this was the closest to us from.</p>
    </div>

  </div>
</ion-content>