$purple: #0575E6;
$blue  : #021B79;
$green : #2FE57C;

// content css start here
ion-content {
    --background: #fff !important;

    &:after {
        content              : "";
        background-image     : url('../../assets/images/illustration.png');
        background-repeat    : no-repeat;
        background-position  : center bottom;
        background-size      : contain;
        background-attachment: fixed;
        padding-right        : 100%;
        padding-bottom       : calc(100vh - 76px);
        z-index              : 1;
        position             : absolute;
    }
}

.all_content {
    position: relative;
    z-index : 11;
}

.payment_content {
    background: linear-gradient(#0575E6, #021B79);
    padding   : 0px 15px;
    position  : relative;
    z-index   : 11;

    .payment_text {
        font-size     : 18px;
        letter-spacing: 1px;
    }

    .payment_for {
        padding: 6vh 30px 7vh 40px;

        .payment_following {
            font-size  : 18px;
            color      : #ADB3C4;
            margin-left: -18px;
            margin-top : 22px;
            font-weight: 500;
            line-height: 55px;
        }

        .payment_total {
            font-size : 45px;
            margin-top: 9vh;
        }

        ul {
            position: relative;
        }

        li {
            list-style : none;
            font-size  : 20px;
            font-weight: 500;
            color      : #fff;
            line-height: 38px;
            position   : relative;

            &:after {
                content   : "";
                width     : 1px;
                height    : 100%;
                background: #FFFFFF;
                position  : absolute;
                left      : -17px;
                top       : 13px;
            }

            &:before {
                content      : "";
                width        : 8px;
                height       : 8px;
                border-radius: 50%;
                background   : #FFFFFF;
                position     : absolute;
                left         : -20px;
                top          : 13px;
            }
        }

        :last-child {
            &:after {
                content   : "";
                width     : 0px !important;
                background: #FFFFFF;
            }
        }
    }
}

.pay_now_button {
    padding: 45px 30px;

    button {
        background   : linear-gradient(to right, $purple, $blue);
        color        : #ffffff;
        padding      : 21px 15px;
        border-radius: 5px;
        font-size    : 20px;
        width        : 100%;
        font-weight  : 500;
        position     : relative;
        outline      : none;
        z-index      : 11;
        cursor       : pointer;

        ion-img {
            position: absolute;
            left    : -10%;
            height  : 20px;
        }
    }
}