$purple: #AA55FF;
$blue: #584BDD;
$green: #2FE57C;

// content css start here
ion-content {
    --background: #fff !important;
    &:after {
        content: "";
        background-image: url('../../assets/images/illustration.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        background-attachment: fixed;
        padding-right: 100%;
        padding-bottom: calc(100vh - 76px);
        z-index: 1;
        position: absolute;
    }
}

.all_content {
    position: relative;
    z-index: 11;
}

.payment_content {
    background: linear-gradient(#AA55FF, #584BDD);
    padding: 0px 15px;
    position: relative;
    z-index: 11;
    .payment_text {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .payment_for {
        padding: 20px 15px 20px 40px;
        .payment_following {
            font-size: 16px;
            color: #ADB3C4;
            margin-left: -18px;
            margin-top: 22px;
            font-weight: 500;
            line-height: 2.8;
        }
        .payment_total {
            font-size: 40px;
            margin-top: 15px;
        }
        ul {
            position: relative;
        }
        li {
            list-style: none;
            font-size: 12px;
            font-weight: 400;
            color: #fff;
            line-height: 2.2;
            position: relative;
            &:after {
                content: "";
                width: 1px;
                height: 100%;
                background: #FFFFFF;
                position: absolute;
                left: -17px;
                top: 10px;
            }
            &:before {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #FFFFFF;
                position: absolute;
                left: -20px;
                top: 10px;
            }
        }
         :last-child {
            &:after {
                content: "";
                width: 0px !important;
                background: #FFFFFF;
            }
        }
    }
}

.pay_now_button {
    padding: 30px;
    button {
        background: linear-gradient(to right, #584BDD, #AA55FF);
        color: #ffffff;
        padding: 18px;
        border-radius: 5px;
        font-size: 17px;
        width: 100%;
        font-weight: 500;
        position: relative;
        outline: none;
        z-index: 11;
        ion-img {
            position: absolute;
            left: -10%;
            height: 20px;
        }
    }
}