<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-img src="../../assets/images/back_icon.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>Profile</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
            <ion-menu-button></ion-menu-button>
        </div>
             </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_content">
    <div class="rawards_point">
      <ion-img src="../../assets/images/rewards.png"></ion-img>
      <span class="ml-4">150</span>
    </div>
    <div class="card">
      <div class="card_header">
        <p>Mohit Shah</p>
      </div>
      <div class="card_body">
               <div class="profile_detail">
            <div class="row">
              <div class="col-10">
                <div class="personal_detail">
                    <p>Name in Passport</p>
                    <h6>Mohit Shah</h6>
                </div>
              </div>
              <div class="col-2">
                <div class="edit_img">
                  <ion-img src="../../assets/images/pen.png"></ion-img>
                </div>
              </div>
            </div>
          </div>
        <div class="profile_detail">
          <div class="row">
            <div class="col-10">
              <div class="personal_detail">
                <p>Date of Birth</p>
                <h6>5/09/1994</h6>
              </div>
            </div>
            <div class="col-2">
              <div class="edit_img">
                <ion-img src="../../assets/images/pen.png"></ion-img>
              </div>
            </div>
          </div>
        </div>
        <div class="profile_detail">
            <div class="row">
              <div class="col-10">
                <div class="personal_detail">
                    <p>Email</p>
                    <h6>shahmohitm@gmail.com</h6>
                </div>
              </div>
              <div class="col-2">
                <div class="edit_img">
                  <ion-img src="../../assets/images/pen.png"></ion-img>
                </div>
              </div>
            </div>
          </div>
       </div>
    </div>
    <div class="uograde_premium">
      <button routerLink='/home/benefits'> <ion-img src="../../assets/images/upgrade.png"></ion-img>Upgrade To Premium</button>
    </div>
  </div>
</ion-content>