$purple: #0575E6;
$blue  : #021B79;
$green : #2FE57C;

// content css end here
ion-content {
    --background: linear-gradient(#0575E6, #021B79);

    &:after {
        content              : "";
        background-image     : url('../../assets/images/illustration.png');
        background-repeat    : no-repeat;
        background-position  : center bottom;
        background-size      : contain;
        background-attachment: fixed;
        padding-right        : 100%;
        padding-bottom       : calc(100vh - 76px);
        z-index              : 1;
        position             : absolute;
    }
}

.profile_content {
    padding : 0px 10px;
    position: relative;
    z-index : 11;
}

.rawards_point {
    padding: 25px 15px 10px 15px;
    @media(max-height: 600px) {
        padding: 12px 15px 5px 15px;
    }

    ion-img {
        width: 100px;
        float: left;
        @media(max-height: 600px) {
            width: 85px;
        }
    }

    span {
        font-size  : 60px;
        font-weight: 600;
        color      : #fff;
        line-height: 95px;
        @media(max-height: 600px) {
            font-size: 54px;
            line-height: 78px;
        }
    }
}

.card {
    margin-top: 15px;

    @media(max-height: 750px) {
        margin-top: 5px;
    }

    .card_header {
        p {
            color        : #434A5E;
            font-size    : 17px;
            font-weight  : 600;
            padding      : 20px 15px;
            line-height  : 20px;
            border-bottom: 1px solid #C7CBD6;

            @media(max-height: 750px) {
                font-size: 16px;
                padding  : 15px 12px;
            }

            @media(max-height: 600px) {
                font-size: 14px;
                padding  : 12px 8px;
            }
        }
    }

    .card_body {
        padding: 20px 10px 6px 10px;

        @media(max-height: 750px) {
            padding: 18px 10px 5px 10px;
        }

        @media(max-height: 600px) {
            padding: 15px 10px 3px 10px;
        }

        .profile_detail {
            box-shadow   : 1px 2px 7px #95989A;
            border-radius: 5px;
            padding      : 6px 10px 12px 10px;
            margin-bottom: 20px;

            @media(max-height: 600px) {
                padding      : 3px 10px 10px 8px;
                margin-bottom: 15px;
            }

            p {
                color      : #7F8DAB;
                font-size  : 14px;
                line-height: 35px;

                @media(max-height: 750px) {
                    font-size  : 12px;
                    line-height: 30px;
                }

                @media(max-height: 600px) {
                    font-size  : 11px;
                    line-height: 27px;
                }
            }

            h6 {
                font-size: 17px;
                color    : #000;

                @media(max-height: 750px) {
                    font-size: 16px;
                }

                @media(max-height: 600px) {
                    font-size: 14px;
                }
            }
        }

        .edit_img {
            ion-img {
                height  : 25px;
                width   : 25px;
                margin  : auto;
                position: absolute;
                top     : 0;
                bottom  : 0;
                right   : 16px;
            }
        }
    }
}

.uograde_premium {
    padding: 40px 30px;
    @media(max-height: 750px) {
        padding: 28px 30px;
    }
    @media(max-height: 600px) {
        padding: 20px 30px;
    }

    button {
        border-radius: 9px;
        cursor       : pointer;
        line-height  : 54px;
        color        : #ffffff;
        font-size    : 16px;
        position     : relative;
        width        : 100%;
        font-weight  : 600;
        outline      : none;
        background   : #003574;
        box-shadow   : 3px 5px 8px rgba(0, 0, 0, 0.5);

        i {
            margin-right: 15px;
            font-size   : 25px;
            color       : #FFF700;
        }
    }
}