/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600");
// common css
$purple: #0575E6;
$blue  : #021B79;
$green : #5ce67b;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

ul {
    padding: 0;
    margin : 0;
}

ion-menu {
    font-family: 'Montserrat', sans-serif !important;
}

// header css start here 

// ion back button start

ion-icon.sc-ion-back-button-md {
    display: none;
}

button.button-native.sc-ion-back-button-ios {
    display: none;
}

.sc-ion-back-button-md-h {
    --min-height: 0px;
}

.back-button-has-icon-only.sc-ion-back-button-md-h {
    --border-radius: 50%;
    min-width      : 0px;
    height         : unset;
}

ion-back-button {
    --background-hover: transparent;
    z-index           : 11;
    --ripple-color    : transparent;
}

// ion back button end

ion-header ion-toolbar:first-child {
    --background: #0575E6 !important;
    height      : 80px;
    display     : flex;
}

.header-md:after {
    background-image: unset;
}

ion-menu-button {
    --color: #fff;
}

.icon_sec,
.back_icon {
    -webkit-box-pack: center;
    justify-content : center;
    height          : 100%;
    align-content   : center;
    display         : -webkit-box;
    display         : flex;
    flex-wrap       : wrap;
}

i.back_icon_white {
    color      : #fff;
    font-size  : 28px;
    line-height: 55px;
}

.middle_sec {
    justify-content: center;
    height         : 100%;
    align-content  : center;
    display        : flex;
    flex-wrap      : wrap;

    ion-img {
        height      : 22px;
        width       : 22px;
        float       : left;
        margin-top  : 2px;
        margin-right: 10px;
        @media(max-height: 600px){
           height : 19px;
        }
    }

    i {
        font-size   : 23px;
        margin-right: 10px;
    }

    span {
        font-size  : 23px;
        font-weight: 600;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif !important;
        @media(max-height: 812px){
            font-size   : 22px;
        }
        @media(max-height: 750px){
            font-size   : 20px;
        }
        @media(max-height: 600px){
            font-size   : 18px;
        }
           }
}

ion-content {
    font-family: 'Montserrat', sans-serif !important;
}

ion-label {
    font-family: 'Montserrat', sans-serif !important;
}

.form-control:focus {
    background-color: #fff;
    border-color    : #707070;
    outline         : none !important;
    box-shadow      : none !important;
}

body *[routerlink] {
    outline: none !important;
}

ion-datetime.md.in-item.hydrated {
    color    : #7F8DAB;
    font-size: 14px;
}

// header css end here

// ion alert for select option

.alert-wrapper.sc-ion-alert-md {
    font-family: 'Montserrat', sans-serif !important;
    font-size  : 14px !important;
}

.alert-wrapper.sc-ion-alert-ios {
    font-family: 'Montserrat', sans-serif !important;
    font-size  : 14px !important;
}

// ion datepicker design start

.picker-wrapper.sc-ion-picker-md {
    font-family: 'Montserrat', sans-serif !important;
}

.picker-toolbar.sc-ion-picker-md {
    display        : -ms-flexbox;
    display        : flex;
    -ms-flex-pack  : end;
    justify-content: center;
    height         : 58px;
    justify-content: center;
    align-items    : center;
}

ion-datetime {
    font-size  : 14px;
    color      : #707070;
    font-family: 'Montserrat', sans-serif;
}

// ion datepicker design end

// custom radio button start 

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left    : -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position    : relative;
    padding-left: 28px;
    cursor      : pointer;
    line-height : 20px;
    display     : inline-block;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left    : -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position    : relative;
    padding-left: 24px;
    cursor      : pointer;
    line-height : 16px;
    display     : inline-block;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content      : '';
    position     : absolute;
    left         : 0;
    top          : 0;
    width        : 15px;
    height       : 15px;
    border       : 1px solid #707070;
    border-radius: 100%;
    background   : #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content           : '';
    width             : 15px;
    height            : 15px;
    background        : #4A92E8;
    position          : absolute;
    left              : 0px;
    border            : 1px solid #707070;
    border-radius     : 100%;
    -webkit-transition: all 0.2s ease;
    transition        : all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity          : 0;
    -webkit-transform: scale(0);
    transform        : scale(0);
}

[type="radio"]:checked+label:after {
    opacity          : 1;
    -webkit-transform: scale(1);
    transform        : scale(1);
}

// add button css start here
.add_button {
    a {
        border-radius   : 50%;
        background-color: #FA4D88;
        position        : fixed;
        bottom          : 20px;
        right           : 20px;
        padding         : 16px;
        @media(max-height: 600px){
           padding: 13px;
        }

        img {
            height: 28px;
            @media(max-height: 600px){
                height: 22px;
            }
        }
    }
}