/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600");
// common css
$purple: #0575E6;
$blue  : #021B79;
$green : #5ce67b;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

ul {
    padding: 0;
    margin : 0;
}

// header css start here 
ion-header ion-toolbar:first-child {
    --background   : #0575E6 !important;
    height         : 80px;
    justify-content: center;
    align-items    : center;
    display        : flex;
}

.header-md:after {
    background-image: unset;
}

ion-menu-button {
    --color: #fff;
}

.middle_sec {
    display        : flex;
    justify-content: space-around;

    ion-img {
        height      : 22px;
        width       : 22px;
        float       : left;
        margin-top  : 2px;
        margin-right: 10px;
    }

    span {
        font-size  : 23px;
        font-weight: 600;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif !important;
    }
}

.back_icon {
    ion-img {
        height: 16px;
        width : 16px;
        margin: 4px auto 0px auto;
    }
}
ion-content{
    font-family: 'Montserrat', sans-serif !important;
}
ion-footer{
    font-family: 'Montserrat', sans-serif !important;
}
ion-label{
    font-family: 'Montserrat', sans-serif !important;
}
body *[routerlink] {
    outline: none !important;
}
// header css end here