<ion-header>
  <ion-toolbar>
      <ion-row>
          <ion-col size='10'>
            <div class="home_text text-center">
              <span>Switzerland 5 Days to Go</span>
            </div>
          </ion-col>
          <ion-col size='2'>
            <div class="icon_sec">
              <ion-menu-button></ion-menu-button>
            </div>
          </ion-col>
        </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="wether w-100">
      <div class="wether_image float-left">
        <ion-img src="../../assets/images/wether.png"></ion-img>
        <span>14°C
        </span>
      </div>
      <div class="city_name float-right">
        <p>Rajkot</p>
        <p>20:38</p>
      </div>
    </div>
    <div class="home_details">
      <div class="card text-white mb-2" routerLink='/home/plan-option'>
        <div class="card_content w-100">
          <div class="country_details float-left">
            <p>USA</p>
            <ul>
              <li>Accomndation</li>
              <li>Visa</li>
              <li>Transfer</li>
            </ul>
          </div>
          <div class="booking_details float-right">
            <p>Booking</p>
          </div>
        </div>
      </div>
      <div class="card text-white mb-2">
        <div class="card_content w-100">
          <div class="country_details float-left">
            <p>USA</p>
            <ul>
              <li>Accomndation</li>
            </ul>
          </div>
          <div class="booking_details float-right">
            <p>Correspondence</p>
          </div>
        </div>
      </div>
      <div class="card text-white mb-2">
        <div class="card_content w-100">
          <div class="country_details float-left">
            <p>USA</p>
            <ul>
              <li>Accomndation</li>
              <li>Visa</li>
              <li>Transfer</li>
            </ul>
          </div>
          <div class="booking_details float-right">
            <p>Payment</p>
          </div>
        </div>
      </div>
      <div class="card text-white mb-2">
        <div class="card_content w-100">
          <div class="country_details float-left">
            <p>Germany</p>
            <ul>
              <li>Accomndation</li>
              <li>Visa</li>
              <li>Transfer</li>
            </ul>
          </div>
          <div class="booking_details float-right">
            <p>Booking</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>