$purple: #AA55FF;
$blue  : #584BDD;

// ION HEADER START HERE
.header-md:after {
    left            : 0;
    bottom          : -18px;
    position        : absolute;
    height          : 5px;
    background-image: unset;
    content         : "";
    height          : 2px;
    width           : 85%;
    background      : #fff;
}

.menu-content {
    box-shadow: none;
}

.top_part {
    position: relative;

    &:after {
        position  : absolute;
        content   : "";
        height    : 2px;
        width     : 85%;
        background: #fff;
        bottom    : -20px;
    }

    .profile_img {
        height       : 50px;
        width        : 50px;
        border-radius: 50%;

        ion-img {
            max-width : 100%;
            max-height: 100%;
            min-width : 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}

.profile_detail {
    p {
        font-size  : 20px;
        font-weight: 600;
        line-height: 24px;
    }

    .awrd_img {
        display         : inline-block;
        font-size       : 10px;
        font-weight     : 900;
        color           : #804EE8;
        background-color: #fff;
        padding         : 3px 10px;
        border-radius   : 30px;

        ion-img {
            height: 12px;
            width : 12px;
            margin: 1px 0;
        }
    }
}

// ION CONTENT START HERE
.main_background {
    background-image     : url("../../assets/images/illustration.png");
    background-repeat    : no-repeat;
    background-position  : center bottom;
    background-size      : contain;
    height               : calc(100vh - 30px);
    background-attachment: fixed;
}

.bg_home {
    padding-top: 30px;

    &:before {
        content      : "";
        filter       : blur(3px);
        position     : absolute;
        top          : 0;
        right        : 0;
        left         : 0;
        background   : linear-gradient($purple, $blue) !important;
        opacity      : 0.9;
        border-radius: 0px 0px 0px 0px;
        bottom       : 0;
        z-index      : -1;
    }

    .menu_content {
        padding: 25px 0px;

        .menu_list {
            outline    : none;
            align-items: center;
            display    : flex;
            padding    : 1.35vh 25px 1.35vh 65px;
            cursor     : pointer;
            position   : relative;

            ion-img {
                width   : 18px;
                position: absolute;
                left    : 25px;
                top     : 0;
                bottom  : 0;
                margin  : auto;
            }

            span {
                font-weight: 500;
                font-size  : 16px;
                display    : inline-block;
                width      : 100%;
                line-height: 20px;
            }
        }
    }
}

ion-menu {
    --background: transparent !important;
}