<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-img src="../../assets/images/back_icon.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>New Trip</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="services_detail">
      <p class="ml-3 visa_text">Visa</p>
      <div class="general_details">
        <div class="general_details_header">
          <p>General Details</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Name in Passport</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Passport Number</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Place of Birth</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address in Passport</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Duration of Travel</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Intended date of Departure</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Intended date of Arrival</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Passport Valid Until ?</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <div class="duration_status mt-2">
            <p>Date and Duration Status</p>
            <form action="#">
              <div class="row">
                <div class="col-5 pl-4">
                  <input type="radio" class="mr-2" id="test1" name="radio-group" checked>
                  <label for="test1">Flexible</label>
                </div>
                <div class="col-7">
                  <input type="radio" class="mr-2" id="test2" name="radio-group">
                  <label for="test2">Fixed</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="general_details p-3 mt-3">
        <div class="duration_status mt-2">
          <p>Purpose of Travel</p>
          <form action="#">
            <div class="row">
              <div class="col-5 pl-4">
                <input type="radio" class="mr-2" id="test3" name="radio-group" checked>
                <label for="test3">Tourism</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="test4" name="radio-group">
                <label for="test4">Business</label>
              </div>
              <div class="col-12 pl-4">
                <input type="radio" class="mr-2" id="test5" name="radio-group">
                <label for="test5">Family Reunion / Functions</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details p-3 mt-3">
        <div class="duration_status mt-2">
          <p>Type of Visa</p>
          <form action="#">
            <div class="row">
              <div class="col-5 pl-4">
                <input type="radio" class="mr-2" id="test6" name="radio-group" checked>
                <label for="test6">Business</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="test7" name="radio-group">
                <label for="test7">Student</label>
              </div>
              <div class="col-12 pl-4">
                <input type="radio" class="mr-2" id="test8" name="radio-group">
                <label for="test8">Tourist</label>
              </div>
            </div>
          </form>
          <ion-item>
            <ion-label position="floating">Other</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <p class="mt-2">Previous Rejections</p>
          <form action="#">
              <div class="row">
                <div class="col-5 pl-4">
                  <input type="radio" class="mr-2" id="test11" name="radio-group" checked>
                  <label for="test11">Yes</label>
                </div>
                <div class="col-7">
                  <input type="radio" class="mr-2" id="test12" name="radio-group">
                  <label for="test12">No</label>
                </div>
              </div>
            </form>
          <ion-item>
            <ion-label position="floating">Destination, Duration of Journey</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </div>

      <div class="general_details p-3 mt-3">
        <div class="duration_status mt-2">
          <p>Previous International Travel</p>
          <form action="#">
            <div class="row">
              <div class="col-5 pl-4">
                <input type="radio" class="mr-2" id="test9" name="radio-group" checked>
                <label for="test9">Yes</label>
              </div>
              <div class="col-7">
                <input type="radio" class="mr-2" id="test10" name="radio-group">
                <label for="test10">No</label>
              </div>
            </div>
          </form>
          <h6 class="mt-2">France - 12 days, USA - 18 days.</h6>
        </div>
      </div>

      <div class="general_details mt-3">
        <div class="general_details_header">
          <p>Number of Applicants</p>
        </div>
        <div class="duration_status p-3">
          <ion-item>
            <ion-label position="floating">Applicants</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </div>

    </div>

    <div class="next_btn">
      <button type="submit">Next<i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</ion-content>