<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-buttons slot="start">
            <ion-back-button>
              <i class="fa fa-angle-left back_icon_white"></i>
            </ion-back-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>New Trip</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="services_detail">
      <p class="ml-3 visa_text">Visa</p>
      <div class="general_details">
        <div class="general_details_header">
          <p>General Details</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Name in Passport</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Passport Number</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Place of Birth</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address in Passport</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Duration of Travel</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Intended date of Departure</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Intended date of Arrival</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Passport Valid Until ?</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <form action="#">
            <p>Date and Duration Status</p>
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="date1" name="Date" value="date1" checked>
                <label for="date1">Flexible</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="date2" name="Date" value="date2">
                <label for="date2">Fixed</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_body">
          <form action="#">
            <p>Purpose of Travel</p>
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="Travel1" name="Travel" value="Travel1">
                <label for="Travel1">Tourism</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Travel2" name="Travel" value="Travel2" checked>
                <label for="Travel2">Business</label>
              </div>
              <div class="col-12">
                <input type="radio" class="mr-2" id="Travel3" value="Travel3" name="Travel">
                <label for="Travel3">Family Reunion / Functions</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_body">
          <form action="#">
            <p>Type of Visa</p>
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="Visa1" name="Travel-visa" value="Visa1" checked>
                <label for="Visa1">Business</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="Visa2" name="Travel-visa" value="Visa2">
                <label for="Visa2">Student</label>
              </div>
              <div class="col-12 ">
                <input type="radio" class="mr-2" id="Visa3" name="Travel-visa" value="Visa3">
                <label for="Visa3">tourist1</label>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Other</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </form>
          <p class="mt-2">Previous Rejections</p>
          <form action="#">
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="rejections1" name="Rejections" value="rejections1" checked>
                <label for="rejections1">Yes</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="rejections2" name="Rejections" value="rejections2">
                <label for="rejections2">No</label>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">Destination, Duration of Journey</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </form>
        </div>
      </div>

      <div class="general_details">
        <div class="general_details_body">
          <form action="#">
            <p>Previous International Travel</p>
            <div class="row">
              <div class="col-6">
                <input type="radio" class="mr-2" id="international1" name="International" value="international1"
                  checked>
                <label for="international1">Yes</label>
              </div>
              <div class="col-6">
                <input type="radio" class="mr-2" id="international2" name="International" value="international2">
                <label for="international2">No</label>
              </div>
            </div>
            <h6 class="mt-2">France - 12 days, USA - 18 days.</h6>
          </form>

        </div>
      </div>

      <div class="general_details">
        <div class="general_details_header">
          <p>Number of Applicants</p>
        </div>
        <div class="general_details_body">
          <ion-item>
            <ion-label position="floating">Applicants</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="next_btn" *ngIf="formUrl.length">
      <button type="submit" (click)="nextForm()">Next<i class="fas fa-arrow-right"></i></button>
    </div>
    <!-- <div class="next_btn"  *ngIf="!formUrl.length">
      <button type="submit" >Submit</button>
    </div> -->
  </div>
</ion-content>

<!-- routerLink='/home/air-tickets' -->