<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size='2'>
        <div class="back_icon">
          <ion-buttons slot="start">
            <ion-back-button>
              <i class="fa fa-angle-left back_icon_white"></i>
            </ion-back-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col size='8'>
        <div class="middle_sec text-center text-white">
          <span>Pictures</span>
        </div>
      </ion-col>
      <ion-col size='2'>
        <div class="icon_sec">
          <ion-menu-button></ion-menu-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all_content">
    <div class="card image_folder_detail">
      <i class="fas fa-folder"></i>
      <p>Pictures-2</p>
    </div>
    <div class="card image_folder_detail">
      <div class="image_detail">
        <ion-img src="../../assets/images/p1.png"></ion-img>
      </div>
      <p>Rose.jpg</p>
    </div>
    <div class="card image_folder_detail">
      <div class="image_detail">
        <ion-img src="../../assets/images/p2.png"></ion-img>
      </div>
      <p>Rose-1.jpg</p>
    </div>
    <div class="card image_folder_detail">
      <div class="image_detail">
        <ion-img src="../../assets/images/p3.png"></ion-img>
      </div>
      <p>Rose-2.jpg</p>
    </div>
    <div class="add_button">
      <a href="javascript:void(0);">
        <img src="../../assets/images/plus.png">
      </a>
    </div>
  </div>
</ion-content>