$purple: #0575E6;
$blue  : #021B79;
$green : #2FE57C;

// content css start here
ion-content {
    --background: linear-gradient(#0575E6, #021B79) !important;

    &:after {
        content              : "";
        background-image     : url('../../assets/images/illustration.png');
        background-repeat    : no-repeat;
        background-position  : center bottom;
        background-size      : contain;
        background-attachment: fixed;
        padding-right        : 100%;
        padding-bottom       : calc(100vh - 76px);
        z-index              : 1;
        position             : absolute;
    }
}

.all_content {
    padding : 0px 10px 15px 10px;
    z-index : 11;
    position: relative;
}
.card{
    border-radius: 6px;
    .card_header{
        display: inline-block;
        border-bottom: 1px solid #C7CBD6;
        padding: 10px;
        p{
            font-weight: 600;
            color: #000;
        }
        i{
            color: #707070;
            font-size: 18px;
        }
    }
    .card_body{
        padding: 20px 15px 50px 15px;
        p{
            color: #707070;
            font-weight: 600;
            line-height: 28px;
        }
    }
}
.last_update{
    margin-top: 30px;
    p{
        color: #fff;
        font-weight: 600;
    }
}